<div class='content'>
  {{! <header>
    <button>
      <img
        src='/svg/arrow-back.svg'
        alt='arrow-icon'
        width='24px'
        height='24px'
      />
    </button>
    <button>
      <img
        src='/svg/avatar.svg'
        alt='avatar'
        width='24px'
        height='24px'
      />
    </button>
  </header> }}

  {{! <h1>My blog</h1> }}

  {{! <main class='post__list'>

    <div class='post__card'>
      <div class='post__header'>
        <div class='post__category-list'>
          <span
            class='post__category post__category--1'
          >Важливо</span>
          <span
            class='post__category post__category--2'
          >Нова</span>
        </div>
        <span class='post__date'>25.01</span>
      </div>
      <p class='post__text'>До біса планувальник, наймаємо
        дизайнера і готуємося до презентації, як Джобс</p>
    </div>

    <div class='post__card post__card--viewed'>
      <div class='post__header'>
        <div class='post__category-list'>
          <span
            class='post__category post__category--1'
          >Важливо</span>
        </div>
        <span class='post__date'>15.01</span>
      </div>
      <p class='post__text post__text--viewed'>Ми хотіли щоб
        у цьому чаті було близько 150 людей щоб зробити
        якісний пак самопрезентацій.</p>
    </div>

  </main> }}
</div>