<div class='page'>

  <div class='card'>
    <h1 class='title'>To-do list</h1>

    <div class='form'>
      <input
        class='form__input'
        type='text'
        placeholder='Write task...'
        id='input'
      />
      <button class='form__button'>Add task</button>
    </div>

    <main class='task__list'>

      {{! <div class='task task--done'>
        <span class='task__number'>2.</span>
        <span class='task__text'>Some placeholder done
          content in a paragraph.</span>
        <button
          class='task__button task__button--do'
        ></button>
        <button
          class='task__button task__button--cancel'
        ></button>
      </div> }}
    </main>

  </div>

</div>

<template id='task'>
  <div class='task'>
    <span class='task__number'>1.</span>
    <span class='task__text'>Some placeholder content in a
      paragraph below the heading and date.</span>
    <button class='task__button task__button--do'></button>
    <button
      class='task__button task__button--cancel'
    ></button>
  </div>
</template>