<main>
  <section>1</section>
  <section>2</section>
  <section>3</section>
  <section>4</section>
  <section>5</section>
  <section>6</section>
  <section>7</section>

  <button id='buttonScroll'><img
      src='/svg/scrollUp.svg'
      alt='icon'
    /></button>
</main>