<main>
  <nav class='nav'>

    <button class='nav__button' id='back'>
      <img
        src='/svg/arrowLeft.svg'
        width='25px'
        height='25px'
        alt='icon'
      />
    </button>

    <button class='nav__button' id='forward'>
      <img
        src='/svg/arrowRight.svg'
        alt='icon'
        width='25px'
        height='25px'
      />
    </button>

    <button class='nav__button' id='reload'>
      <img
        src='/svg/reload.svg'
        alt='icon'
        width='25px'
        height='25px'
      />
    </button>

    <button class='nav__button' id='home'>
      <img
        src='/svg/home.svg'
        alt='icon'
        width='25px'
        height='25px'
      />
    </button>

    <input type='url' id='input' />

    <button class='nav__button' id='search'>
      <img
        src='/svg/search.svg'
        alt='icon'
        width='25px'
        height='25px'
      />
    </button>
  </nav>
</main>